:root {
  --white: white;
  --black: black;

  --theme-dark: #040303;
  --theme-light: #f8fafc;
  --theme-x-light: #f3f5f5;
  --theme-alpha: #0266ff;

  --theme-border-color: #e7e8eb;

  --border-radius-lg: 12px;
  --border-radius: 6px;
}
